.pivotUi {
  display: flex;
  flex-direction: column;
  color: #2a3f5f;
  font-family: Verdana;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.pivotUi select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pivotUi .pivot-table-body {
  /* overflow: auto scroll; */
  flex: 1;
}

.pivot-table-header {
  /* overflow: scroll; */
}

.pivotUi .pivot-table-container .pivot-table-header > tr > td {
  /* transition: background .3s ease; */
}

.pivotUi .pivot-table-container .pivot-table-header::-webkit-scrollbar {
  display: none;
}

.pivotUi .pivotOutput {
  vertical-align: top;
  overflow: auto;
  height: 100%;
}

.pivotUi .pivot-others {
  display: flex;
  height: -webkit-fill-available;
  overflow: auto;
}

.pivotUi .pivot-others .pivot-others-left {
  display: flex;
  flex-direction: column;
}

.pivotUi .pivot-others .pivot-others-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.pivotUi .pivot-data .pivotUnused {
  border-bottom: none;
}

table.pivotTable {
  font-size: 8pt;
  text-align: left;
  border-collapse: separate;
  /* margin-top: 3px; */
  /* margin-left: 3px; */
  font-family: Verdana;
  table-layout: fixed;
  width: 100%;
}
table.pivotTable thead tr th,
table.pivotTable tbody tr th {
  background-color: #ebf0f8;
  /* border: 1px solid #c8d4e3; */
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 8pt;
  padding: 5px;
  height: 30px;
}

table.pivotTable .pivotColLabel {
  text-align: center;
  white-space: nowrap;
}
table.pivotTable .pivotTotalLabel {
  text-align: left;
}

table.pivotTable tbody tr td {
  color: #2a3f5f;
  padding: 5px;
  background-color: #fff;
  /* border: 1px solid #c8d4e3; */
  border: 1px solid rgba(0, 0, 0, 0.06);
  vertical-align: top;
  text-align: right;
}

.pivotTotal,
.pivotGrandTotal {
  font-weight: bold;
}

.pivotRowOrder,
.pivotColOrder {
  cursor: pointer;
  width: 15px;
  margin-left: 5px;
  display: inline-block;
  user-select: none;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pivotAxisContainer,
.pivotVals {
  border: 1px solid #a2b1c6;
  background: #f2f5fa;
  padding: 5px;
  min-width: 20px;
  min-height: 20px;
}

.pivotCols {
  flex: 1;
  min-height: 60px;
}

.pivotCols li {
  display: block !important;
}

.pivotRenderers {
  padding-left: 5px;
  user-select: none;
}

.pivotDropdown {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  margin: 3px;
}

.pivotDropdownIcon {
  float: right;
  color: #a2b1c6;
}
.pivotDropdownCurrent {
  text-align: left;
  border: 1px solid #a2b1c6;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  width: 210px;
  box-sizing: border-box;
  background: white;
}

.pivotDropdownCurrentOpen {
  border-radius: 4px 4px 0 0;
}

.pivotDropdownMenu {
  background: white;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #a2b1c6;
  border-top: 1px solid #dfe8f3;
  box-sizing: border-box;
}

.pivotDropdownValue {
  padding: 2px 5px;
  font-size: 12px;
  text-align: left;
}
.pivotDropdownActiveValue {
  background: #ebf0f8;
}

.pivotVals {
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  padding-bottom: 12px;
  border-bottom: none !important;
}

.pivotVals .name {
  text-align: left;
}

.pivotRows {
  min-height: 68px;
  border-left: none !important;
  border-bottom: none !important;
}

.pivot-output {
  border-left: none !important;
}

.pivot-output {
  flex: 1;
}

.pivotAxisContainer .name {
  font-weight: 500;
}

.pivotAxisContainer li {
  display: inline-block;
  padding: 8px 6px;
  list-style-type: none;
  cursor: move;
}
.pivotAxisContainer li.pivotPlaceholder {
  -webkit-border-radius: 5px;
  padding: 3px 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed #a2b1c6;
}
.pivotAxisContainer li.pivotPlaceholder span.pivotAttr {
  display: none;
}

.pivotAxisContainer li span.pivotAttr {
  -webkit-text-size-adjust: 100%;
  background: #f3f6fa;
  border: 1px solid #c8d4e3;
  padding: 2px 5px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pivotTriangle {
  cursor: pointer;
  color: #506784;
}

.pivotHorizList li {
  display: inline-block;
}
.pivotVertList {
  vertical-align: top;
}

.pivotFilteredAttribute {
  font-style: italic;
}

.sortable-chosen .pivotFilterBox {
  display: none !important;
}

.pivotTool {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 7px;
}

.pivotFieldTool {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
}

.pivotFieldTool .name {
  color: #717171;
}

.pivotOrder {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none !important;
}

.pivotCloseX {
  cursor: pointer;
  text-decoration: none !important;
}

.pivotDragHandle {
  cursor: move;
  color: #a2b1c6;
}

.pivotButton {
  color: #506784;
  border-radius: 5px;
  padding: 3px 6px;
  background: #f2f5fa;
  border: 1px solid;
  border-color: #c8d4e3;
  font-size: 14px;
  margin: 3px;
  transition: 0.34s all cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none !important;
}

.pivotButton:hover {
  background: #e2e8f0;
  border-color: #a2b1c6;
}

.pivotButton:active {
  background: #d1dae6;
}

.pivotFilterBox input {
  border: 1px solid #c8d4e3;
  border-radius: 5px;
  color: #506784;
  padding: 0 3px;
  font-size: 14px;
}

.pivotFilterBox input:focus {
  border-color: #119dff;
  outline: none;
}

.pivotFilterBox {
  z-index: 100;
  width: 300px;
  border: 1px solid #506784;
  background-color: #fff;
  position: absolute;
  text-align: center;
  user-select: none;
  min-height: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.pivotFilterBox h4 {
  margin: 15px;
}
.pivotFilterBox p {
  margin: 10px auto;
}
.pivotFilterBox button {
  color: #2a3f5f;
}
.pivotFilterBox input[type='text'] {
  width: 230px;
  color: #2a3f5f;
  margin-bottom: 5px;
}

.pivotCheckContainer {
  text-align: left;
  font-size: 14px;
  white-space: nowrap;
  overflow-y: scroll;
  width: 100%;
  max-height: 30vh;
  border-top: 1px solid #dfe8f3;
}

.pivotCheckContainer p {
  margin: 0;
  margin-bottom: 1px;
  padding: 3px;
  cursor: default;
}

.pivotCheckContainer p.selected {
  background: #ebf0f8;
}

.pivotOnly {
  display: none;
  width: 35px;
  float: left;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}

.pivotOnlySpacer {
  display: block;
  width: 35px;
  float: left;
}

.pivotCheckContainer p:hover .pivotOnly {
  display: block;
}
.pivotCheckContainer p:hover .pivotOnlySpacer {
  display: none;
}

.pivotRendererArea {
  padding: 5px;
}

.use-virtual-table {
  position: relative;
  height: 100%;
  width: 100%;
}
.use-virtual-table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
